@using System.Collections
@using Newtonsoft.Json
@using umbDemosite.Implementation.Helper
@using umbDemosite.Models
@using cm = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage

@{
  var carouseljson = Umbraco.AssignedContentItem.GetProperty("carousel").GetSourceValue().ToString();
  var result = Helper.GetCarouselObject(carouseljson);
}

<!-- [Homepage Carousell] -->
<div id="carousel_1" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
      @for (int i = 0; i < result.Count(); i++)
      {
        <li data-target="#carousel_1" data-slide-to="@i" class="@i==0 ? 'active':'' "></li>     
      }
  </ol>
  <div class="carousel-inner" role="listbox">
    @{
      int index = 0;
      foreach (var item in result)
      {
        index++;
        var cls = index == 1 ? "active" : "";
        var img = Umbraco.Media(item.carouselImage);


        <div class="item @cls">
          <div class="jumbotron jumbotron-xl bg-media" style="background-image: url(@img.Url)">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>@item.carouselHeading</h1>
                  <p class="lead">@item.carouselText</p>
                  <a class="btn btn-hollow btn-lg" href="@item.SlideLinkAsObjects[0].url">@item.SlideLinkAsObjects[0].name</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    }
  </div>

  <a class="left carousel-control" href="#carousel_1" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel_1" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- [/Homepage Carousell] -->
